/src/outputs/*
*.pyc
/outputs/*
.idea/*
output/*
/docs/*
/data/*.csv
/data/*.zip
/data/*.xlsx
/data/archived/*
/artifacts/hydra/*
/src/mlruns/*
/artifacts/mlflow/.hydra/*
/artifacts/pypots/*
/artifacts/mlflow/*
/artifacts/mlflow/mlruns/*
/data/SERI_PLR_GLAUCOMA.db
/artifacts/*
/archived_code/feature_OLD.py
/archived_code/archived_unsorted.py
/src/models/timegpt/*
/src/file.log
/src/temp/
/archived_code/*
/assets/extra/*
/archived_old_code/tabular_prognosis/*
/data/198_UCR_Anomaly_tiltAPB2_50000_124159_124985.out
/src/anomaly_detection/data/198_UCR_Anomaly_tiltAPB2_50000_124159_124985.out
/archived/*
/src/log_helpers/mlflow_tools/mlruns/*
/data/*.ts
/data/*
/src/catboost_info/*
/src/classification/tabpfn_v1/models_diff/prior_diff_real_checkpoint_n_0_epoch_42.cpkt
